.work-container {
  margin-top: 12rem;
  margin-bottom: 8rem;
}
.work-container h2 {
  color: #fff;
  font-size: 2.9rem;
  text-align: center;
  padding: 2rem;
  position: relative;
  margin-top: 3.8rem;
  margin-bottom: 2.4rem;
}
.work-container h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 80px;
  background-color: crimson;
  border-radius: 15px;
}
.project-container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 6rem;
}
.project-card {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #1a1919;
  padding: 1.8rem;
}
.project-card.box-img {
  height: auto;
  width: 100%;
  overflow: hidden;
}
.project-card img {
  width: 320px;
  height: 100%;
  object-fit: cover;
}
.project-title {
  color: #fff;
  padding: 1rem 0;
}
.pro-details {
  padding-bottom: 1rem;
  font-size: 1.6rem;
  line-height: 150%;
}
.project-container .btn-project {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}
.project-container .btn-project a {
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.4rem;
  padding: 0.6rem 1.4rem;
  border: 2px solid crimson;
  cursor: pointer;
  transition: all 0.3s;
  background-color: crimson;
  margin-top: 2.4rem;
}
.project-container .btn-project .outline {
  background-color: rgb(46, 46, 46);
  border: 2px solid rgb(46, 46, 46);
}

@media screen and (max-width: 768px) {
  .project-container {
    max-width: 100%;
    margin: auto;
    padding: 0 2rem;
  }
  .project-card {
    flex-direction: column;
  }
}
