.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  text-align: center;
  background-color: #1a1919;
  padding-bottom: 6rem;
}

.skill h2 {
  color: #fff;
  font-size: 2.9rem;
  padding: 2rem;
  position: relative;
  margin-top: 3.8rem;
  margin-bottom: 2.4rem;
}
.skill h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 80px;
  background-color: crimson;
  border-radius: 15px;
}

.container-skill {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 3rem;
  padding: 1rem 80px;
}
.skill-box {
  padding: 1rem;
  margin-bottom: 3.4rem;
  cursor: pointer;
  border-radius: 15px;
}
.skill-box p {
  line-height: 150%;
  color: #fff;
}
.skill-box:hover {
  box-shadow: 0 2px 2px rgba(220, 20, 60, 0.671);
  transition: 0.4s;
}
.skill-box:hover > .skill-title:after,
.skill-box:hover > .skill-title:before {
  width: 35px;
}
.skill-box:hover .img {
  transform: translateY(0);
  animation: float 0.8s ease-in-out infinite;
}
.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.skill-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: crimson;
  transition: 0.5s;
}
.skill-title:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: crimson;
  transition: 0.5s;
}
.skill-title img {
  width: 90px;
  height: 90px;
  position: relative;

  border-radius: 50%;
  background-color: #000;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.skill-title img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background-color: #fff;
  border-radius: 45px 0 0 45px;
}
.skill-title h3 {
  margin-top: 0.5rem;
  color: #fff;
}
.skill-icon {
  width: 90px;
  z-index: 2;
}

@media (max-width: 768px) {
  .container-skill {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
}
@media (max-width: 440px) {
  .container-skill {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem 50px;
  }
}
